* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    width: 100%;
}

.nav-bar span {
    font-size: 40px;
    color: rgb(43, 226, 202);
}

.nav-bar a{
    text-decoration: none;
    color: rgb(43, 226, 202);
}

.nav-items #active {
    background-color: rgb(43, 226, 202);
    border-radius: 8px;

}

.nav-items>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    padding: 8px;
    transition-duration: 0.4s;
}

.nav-items a:hover {
    background-color: rgb(43, 226, 202);
    color: whitesmoke;
    border-radius: 8px;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    height: 50vh;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite;
}

.home-container {
    padding: 3em 5em 0.5em 5em;

}

.home-body h1 {
    text-align: center;
}

.home-body p {
    font-size: 20px;
    padding: 0.5em 6em;
}

.home-body span {
    color: rgb(43, 226, 202);
}

.about-container {
    padding: 0.5em 5em 0.5em 5em;
}

.about-container .history {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.history img {
    height: 300px;
    width: auto;
}

.history-body {
    text-align: justify;
}

.history h1 {
    text-align: center;
    padding: 0.5em;
}

.vision-body h1 {
    text-align: center;
    padding: 0.5em;
}

.vision-body span {
    color: rgb(43, 226, 202);
}

.vision-body p {
    text-align: center;
    padding: 0.5em;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 0.5em;
}

.board-container {
    padding: 0.5em;
    text-align: center;
}

.board img {
    border-radius: 20%;
    width: 200px;
    height: 200px;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-container {
    padding: 0.5em;
    text-align: center;
}

.team img {
    border-radius: 20%;
    width: 200px;
    height: 200px;
}

.product-container {
    padding: 3em 5em 0.5em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    background-color: rgb(43, 226, 202);
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 10px;
}

.product:hover {
    transform: translateY(-15px);
}

.product h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.ebanking-container {
    padding: 3em 5em 0.5em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;

}

.banking {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    background-color: rgb(43, 226, 202);
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 10px;
}

.banking h1 {
    padding: 0.5em;
}

input[type=number] {
    background-color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit] {
    background-color: rgb(57, 179, 162);
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: rgb(42, 71, 68);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    padding: 3em 5em 0.5em 5em;
}

.contact-body {
    padding: 0.5em;
}

.contact-body h2 {
    text-align: center;
    padding: 1em;
}

.contact-body h2 span {
    color: rgb(43, 226, 202);
}

.contact-body input {
    display: block;
}

input[type=text] {
    background-color: white;
    padding: 1em 7em;
    margin: 1em;
    border: none;
    border-radius: 4px;
}

.footer h4 {
    padding-top: 2em;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: rgb(43, 226, 202);
}